<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashborad.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <nav>
        <div class="layar-dalam">
            <div class="logo">
                <a href=""> <img src="../asset/GG.png" class="putih" />
                </a>
                <a href=""> <img src="../asset/GG.png" class="black" />
                </a>
            </div>
            <div class="menu">
                <a href="#" class="tombol-menu">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
                <ul>
                    <li><a href="../view/index.html">Beranda</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
        <div class="content-visual">
            <div class="dashboard-game">
                <iframe width="600" height="450" src="https://lookerstudio.google.com/embed/reporting/c364b179-811d-4c8a-a5d1-2ac5fb206d55/page/mQfkD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
                <ul>
                    <li><span> <i class="fas fa-arrow-left"></i><a href="../view/index.html">&nbsp;&nbsp;Kembali</a></span></li>
            </ul>        
        </div>
        <main>
        </main>
        <footer id="contact">
            <div class="layar-dalam">
                <div id="about-description">
                    <h5>Video Game</h5>
                    <p><a href="#about">Video game adalah gabungan teknologi, seni, dan pengalaman interaktif yang melibatkan pengembangan skenario, desain tindakan interaktif yang menghibur, aktivitas pemrograman, pengembangan karakter, seni grafis, desain suara, musik, integrasi, serta tes dan penilaian kualitas. <br> 
                    </a></p>
                    </div>
                <div>
                    <h5>Kontak</h5>
                    <p>
                    <a href="mailto:firdan9474@gmail.com">firdan9474@gmail.com</a> <br> 
                    0857-1641-5670
                    </p>
                </div>
                <div>
                    <h5>Alamat</h5>
                    <p>
                        Jl. Gas Alam 100, Cicadas, Kec. Gn. Putri, Kabupaten Bogor, Jawa Barat 16964.
                    <a href="https://maps.app.goo.gl/1CR1AoHaMd2VYF7U8">lihat maps</a>.</p>
                </div>
            </div>
            <div class="layar-dalam">
                <div class="copyright">
                    &copy; 2024 <b>Video Games Analyst</b> All right reserved.
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../controller/javascript.js"></script>
</body>

</html>